# compiled files, swap files, system files, etc.
*.pyc
*.swp
.DS_Store

# virtualenv files
.Python
./bin/
./include/
./lib/

# django project files added when following the Install-for-developers wiki page
manage.py
media/
spotseeker/
spotseeker.db
