# compiled files and swap files
*.pyc
*.swp

# virtualenv files
.Python
bin/
include/
lib/

# django project files added when following the Install-for-developers wiki page
manage.py
spotseeker/
spotseeker.db
