# compiled files, swap files, system files, etc.
*.egg-info/
*.pyc
*.swp
.DS_Store

# virtualenv files
.Python
/bin/
/include/
/lib/
/lib64/

# django project files added when following the Install-for-developers wiki page
manage.py
media/
spotseeker/
spotseeker.db

# Docker envvars
.env

# test project files
project
db.sqlite3

# django project files added in production
spotseeker_web

# IDE files
.idea/

# vscode files
.vscode/

# pipenv
Pipfile
Pipfile.lock