language: python
python:
    - "2.6"
    - "2.7"
env:
    - DJANGO_VERSION<1.6
    - DJANGO_VERSION<1.5
# command to install dependencies
install:
    - pip install .
    - pip install pep8
    - pip install coverage
    - pip install python-coveralls
before_script:
    - cp travis_ci/manage.py manage.py
    - python manage.py syncdb --noinput
    - python manage.py migrate
# command to run tests
script:
    - pep8 spotseeker_server/ --exclude=migrations
    - coverage run --source=spotseeker_server/ --omit=spotseeker_server/migrations/* manage.py test spotseeker_server
after_script:
    - coveralls
