Django>=1.4,<1.5
mock
oauth2
# oauth_provider
PIL
pyproj
pytz
# South
simplejson>=2.1
-e hg+https://bitbucket.org/stephen-butler/django-oauth-plus@oracle-fix#egg=django-oauth-plus

# If you're using a MySQL database, you may also need mysql-python
# mysql-python
cx_Oracle

