Django>=1.4,<1.5
mock
oauth2
# oauth_provider
PIL
pyproj
pytz
# South
simplejson>=2.1
django-oauth-plus
python-ldap

# If you're using a MySQL database, you may also need mysql-python
# mysql-python
# cx_Oracle

