# Uncomment and edit these values to customize your installation

# Port to connect to with your browser
#PORT=8001

# Whether to use all_ok (default) or oauth auth module
#AUTH_MODULE=oauth

# Comma separated list of admins
#SPOTSEEKER_AUTH_ADMINS=javerage,demo_user

# URL to sync techloan from sync_techloan management command
#SPOTSEEKER_TECHLOAN_URL=https://EXAMPLE_DOMAIN/techloan/api/v2/type/?embed=availability&embed=class