{% if bypass_auth %}
<form method="POST" id="auth_form">
    {% csrf_token %}
    <input type="hidden" name="oauth_token" value="{{ token }}" />
    <input type="hidden" name="authorize_access" value="1">
</form>

<script>
    document.getElementById("auth_form").submit();
</script>
{% else %}
<form method="POST" id="auth_form">
    {% csrf_token %}
    Do you want {{ consumer }} to be able to act as you?
    <br />
    <input type="hidden" name="oauth_token" value="{{ token }}" />
    <input type="checkbox" checked="checked" name="authorize_access" value="1"> Yes
    <br />
    <input type="submit" name="accept" value="Continue"/>
</form>

{% endif %}
